.heading {
    margin: 0;
    padding: 0px;
    background-color: rgba(35, 55, 75, 0.9);
    color: white;
    text-align: center;
    font-family: monospace;
   }
   
   .heading > h1 {
    padding: 20px;
    margin: 0;
   }